<!-- <div>
    <div class='row'>
        <div class='col-lg-2'>
        </div>
        <div class='col-lg-8'>
            <div class='row'>
                <div class="well well-lg"> This app plots the cumulative ratio of weighted random choices (probabilities are 0.6/0.3/0.1), demonstrating how the ratios are averaging out after many draws.
                <br>
                Notice how the finite set of possible total counts creates a beautiful static pattern over time!
                </div>
            </div>
            <div class='row'>
                <choice-lines></choice-lines>
            </div>
        </div>
        <div class='col-lg-2'>
        </div>
    </div>
 -->
<div class="container-fluid">
    <div class="col-lg-3 well">
        <h4>Weighted random choices over time</h4>
        <div class='row explanation'>
            This app plots the ratios of cumulative draws (probabilities are 0.6/0.3/0.1), demonstrating how the ratios are averaging out over time.
        </div>
        <div class='row explanation'>
            Notice how for a low number of draws, the small set of possible states creates a beautiful static pattern over time!
        </div>
        <!--          <div class='row'>
            <bold>Hover</bold> over a node to highlight relevant projects.
            <bold>Click</bold> on a node to dive in.
        </div> -->
    </div>
    <div class="col-lg-8">
        <choice-lines></choice-lines>
    </div>
    <div class='col-lg-1'>
    </div>
</div>
